<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数组</title>
</head>
<body>
    {$array[0]}<br>
    {$array.1} <br> {$array[3]}

    <hr>
    {$array2.0.0}
    <hr>volist <br>
    <volist name='array' id="vol">
        {$vol}-
    </volist>

    <foreach name='array' item='for'>
        {$for}-
    </foreach>

    volist支持多样化<br>

    <volist name='array2' id='vol'>
        <volist name='vol' id='vo'>
            {$vo}--
        </volist>
        <br>
    </volist>

    <foreach name='array2' item='for'>
        {$for[0]}-{$for[1]}-{$for[2]}-{$for[3]}-<br>
    </foreach>

</body>
</html>